@import "../variables/-variables.scss";

.detail_container {
    width: 65vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    & h4{
        text-align: center;
    }
    & .img_detail{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

    }
    & .detail_item {
        width: 100%;
        background-color: whitesmoke;
        border: 4px $blue_page solid;

        & .detail_img {
            margin-top: 2vh;
            width: 50vw;
            & img{
                text-align: center;
                display: block;
                justify-items: center;
                margin-right: auto;
                margin-left: auto;
            }
        }

        & .especificaciones_detail {
            margin: 1%;
            display: block;
            text-align: center;
            flex-wrap: wrap;
        }

    }


    & .carrito-count {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 2vh;
        display: block;
        text-align: center;
        width: 40%;
        background-color: $yellow_page;
        border-radius: 13%;
        border: 2px solid $blue_page;
        & button{
            padding: 2%;
            margin: 1%
        }
    }
}