@import "../variables/-variables.scss";

.detail_container {
    width: 75vw;
    display: block;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    border: 2px solid black;
    background-color: whitesmoke;
    & .img-prod{
        display: inline;
        width: 40%;
        & .img-thumbnail{
            width: auto;
            border: 2px solid black;
        }
    }
    & .info-prod{
        width: 60%;

        float: right;
        display: inline;
        & .info-prod_list{
            width: 100%;
        }
    }
}