@import "../variables/-variables.scss";

footer{
    background-color:$yellow_page;
    & .nav-list{
        list-style: none;
        text-decoration: none;
        color: violet;
        & img{
            width: 1vw;
            height: 2vh;

        }
    }
    & a{
        color: black;
        text-decoration: none;
        display: inline;
    }
    width: 100%;
    display: block;
    bottom: 100%
}