@import "../variables/-variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@1,900&display=swap');
header {
    background-color: rgb(0, 0, 0);
    height: fit-content;

    & .header_title{
    width: fit-content;
    display: inline;
    color: white;

    & h1{
        width: 10vw;
        margin-left: 35%;
        display: inline;
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
    }

    }
    & .img-carrito {
        width: auto;
        height: 40px;
        display: block;
        float: right;
    }

    & .icono-argentina{
        width: 10vw;
        height: auto;
        display: inline;
    }


    & .nav-list {
        border: solid 2px rgb(0, 0, 0);
        background-color:rgb(247, 247, 247);
        padding: 1%;
        display: in;

        margin-left: auto;
        margin-right: auto;
        & .img-carrito_nav img{
            width: 2vw;;
        } 

        & ul {
            width: 15vw;
            margin-left: auto;
            margin-right: auto;
            justify-items: center;

            & Link {
                display: inline;
                background-color: rgb(213, 215, 88);
                margin-left: 2vw;
                margin-right: 2vw;
                margin-bottom: 2vh;
                padding-top: 2%;
                padding-right: 2%;
                padding-left: 2%;
            }
        }
    }
}
main .card-item{
    background-color: violet;
}